<header id= "main_header" class = "cf">
        <div class = "wrapper_wide">
            <a href= "https://powerful-basin-16412.herokuapp.com/"> <img src="https://image.ibb.co/bGLqi5/Podu_Logo.png" alt="Podu Logo" border="0" style="float:left;width:10%;height:10%;" /></a>
            <%= link_to " ", root_path, id: "logo" %>
        <nav>
              
            <ul>
                <% unless podcast_signed_in? %>
                <li><%= link_to "Explore", podcasts_path %></li>
                <li><%= link_to "Sign In", new_podcast_session_path %></li>
                <li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
                 <% else %> 
                    <li> <%= link_to "Dashboard", root_path %> </li>
                    <li><%= link_to "Explore", podcasts_path %></li>
                    <li><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></li>
                <% end %>
            </ul>
        </nav> 
        <br> <br> <br> <br> <br> <br>
        <div id="google_translate_element"></div><script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
        <%= form_tag search_path, class: "navbar-form", method: :get do %>
        <%= text_field_tag 'keyword', nil %> <br> <br>
        <%= submit_tag "Search", class: "button button_block", :title => nil %>
        <% end %>
    </div>
</header>